<!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-lg-3 col-md-4 col-12 links-col">
                        <div class="footer-col-inner">
                            <h3 class="sub-title">Quick Links</h3>
                            <ul class="list-unstyled">
                                <li><a href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/about.html">About us</a></li>
                                <li><a href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/work.html">Our work</a></li>
                                <li><a href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/contact.html">Contact</a></li>
                                <li><a href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/blog.html">Blog</a></li>
                                <li><a href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/#">Privacy policy</a></li>
                                <li><a href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/#">Terms &amp; Conditions</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="footer-col col-lg-6 col-md-8 col-12 blog-col">
                        <div class="footer-col-inner">
                            <h3 class="sub-title">Latest From Our Blog</h3>
                            <div class="item">
                                <figure class="figure">
                                    <img class="img-fluid" src="./index_files/blog-tiny-thumb-1.jpg" alt="">
                                </figure>
                                <div class="content">
                                    <h4 class="post-title"><a href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/blog-post.html">DevStudio helps XYZ launch</a></h4>
                                    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales dolor ut ligula faucibus...</p>
                                    <ul class="meta list-inline">
                                        <li>18 Feb 2015</li>
                                        <li>James Lee</li>
                                    </ul>
                                </div><!--//content-->
                            </div>
                            <div class="item">
                                <figure class="figure">
                                    <img class="img-fluid" src="./index_files/blog-tiny-thumb-2.jpg" alt="">
                                </figure>
                                <div class="content">
                                    <h4 class="post-title"><a href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/blog-post.html">devAid - Free Bootstrap Theme</a></h4>
                                    <p class="intro">Mauris libero leo, dapibus a congue ut, mollis sed nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus augue nec nulla ultricies...</p>
                                    <ul class="meta list-inline">
                                        <li>21 Dec 2014</li>
                                        <li>Vincent Fowler</li>
                                    </ul>
                                </div><!--//content-->
                            </div>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="footer-col col-lg-3 col-12 contact-col">
                        <div class="footer-col-inner">
                            <h3 class="sub-title">Get In Touch</h3>
                            <p class="intro"></p>
                            <div class="row">
                                <p class="adr clearfix col-lg-12 col-md-4">
                                    <span class="fs1" aria-hidden="true" data-icon=""></span>
                                    <span class="adr-group">
                                        <span class="street-address">56 College Green Road</span><br>
                                        <span class="city">Bristol</span><br>
                                        <span class="postal-code">BS1 XR18</span><br>
                                        <span class="country-name">UK</span>
                                    </span>
                                </p>
                                <p class="tel col-lg-12 col-md-4 col-12"><span class="fs1" aria-hidden="true" data-icon="w"></span><a href="tel:+08001234567">0800 123 4567</a></p>
                                <p class="email col-lg-12 col-md-4 col-12"><span class="fs1" aria-hidden="true" data-icon=""></span><a href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/#">hello@yourdevstudio.com</a></p>
                            </div>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                </div>
            </div>
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container center">
                <ul class="social-icons list-inline">
                    <li class="list-inline-item"><a href="https://twitter.com/3rdwave_themes"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/3rdwavethemes"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="last list-inline-item"><a href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/#"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
                <small class="copyright text-center">Template Copyright @ <a href="http://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer>
    <!--//footer-->
