<!-- ******Why Section****** -->
    <section id="who" class="who section">
        <div class="container text-center">
            <h2 class="title text-center">Who we are</h2>
            <p class="intro text-center">We are a small team of web developers and designers based in XYZ. We are specialised in JavaScript, AngularJS and Python. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            <div class="row benefits text-center">
                <div class="item col-lg-3 col-md-6 col-12">
                    <div class="item-inner">
                        <div class="fs1" aria-hidden="true" data-icon=""></div>
                        <h3 class="sub-title">Skilled team</h3>
                        <div class="desc">
                            <p>Tell your potential client why they should choose your service and how you are different from your competitors.</p>
                        </div>
                    </div>
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-12">
                    <div class="item-inner">
                        <div class="fs1" aria-hidden="true" data-icon=""></div>
                        <h3 class="sub-title">Agile approach</h3>
                        <div class="desc">
                            <p>Tell your potential client why they should choose your service and how you are different from your competitors.</p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-12">
                    <div class="item-inner">
                        <div class="fs1" aria-hidden="true" data-icon=""></div>
                        <h3 class="sub-title">High quality code</h3>
                        <div class="desc">
                            <p>Tell your potential client why they should choose your service and how you are different from your competitors.</p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-12">
                    <div class="item-inner">
                        <div class="fs1" aria-hidden="true" data-icon=""></div>
                        <h3 class="sub-title">No overheads</h3>
                        <div class="desc">
                            <p>Tell your potential client why they should choose your service and how you are different from your competitors.</p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//row-->
            <a class="btn btn-cta btn-cta-secondary" href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/about.html">More about us</a>
        </div><!--//container-->
    </section>
    <!--//who-->
