<!-- ******Latest work section****** -->
    <section id="latest-work" class="latest-work section">
        <div class="container-fluid text-center">
            <h2 class="title text-center">Our Latest Work</h2>
            <div id="work-carousel" class="items owl-carousel owl-theme owl-loaded owl-drag">
                <!--//item-->
                <!--//item-->
                <!--//item-->
            <div class="owl-stage-outer owl-height" style="height: 520px;"><div class="owl-stage" style="transform: translate3d(-4227px, 0px, 0px); transition: all 0.4s ease 0s; width: 9863px;"><div class="owl-item cloned" style="width: 1409px;"><div class="item item-2">
                    <div class="row">
                        <figure class="figure-container col-lg-6 col-12">
                            <a class="img-link" href="http://wrapbootstrap.com/preview/WB09R23P8" target="_blank"></a>
                        </figure>
                        <div class="content col-lg-6 col-12">
                            <div class="content-inner">
                                <h3 class="project-title">Delta mobile app </h3>
                                <ul class="meta list-unstyled">
                                    <li><strong>Client:</strong> App Startup</li>
                                    <li><strong>What we did:</strong> App development</li>
                                </ul><!--//meta-->
                                <div class="desc">
                                    <p>Mauris in vestibulum ex. Donec vel malesuada tortor. Etiam consequat semper pulvinar. Integer sit amet felis nisl. Proin leo metus, volutpat vel fringilla vel, faucibus et mi. Duis finibus erat erat, quis mollis...</p>
                                </div><!--//desc-->
                                <p class="link"><i class="fas fa-briefcase"></i> <a class="more-link" href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/case-study-2.html">Read full case study</a></p>
                                <p class="link"><i class="fas fa-external-link-alt"></i> <a class="site-link" href="http://wrapbootstrap.com/preview/WB09R23P8" target="_blank">Website link</a></p>
                            </div><!--//content-inner-->
                        </div><!--//content-->
                    </div><!--//row-->
                </div></div><div class="owl-item cloned" style="width: 1409px;"><div class="item item-3">
                    <div class="row">
                        <figure class="figure-container col-lg-6 col-12">
                            <a class="img-link" href="http://wrapbootstrap.com/preview/WB07364T3" target="_blank"></a>
                        </figure>
                        <div class="content col-lg-6 col-12">
                            <div class="content-inner">
                                <h3 class="project-title">Tempo </h3>
                                <ul class="meta list-unstyled">
                                    <li><strong>Client:</strong> Startup Week</li>
                                    <li><strong>What we did:</strong> Site design &amp; development</li>
                                </ul><!--//meta-->
                                <div class="desc">
                                    <p>Sed ornare suscipit risus, sed elementum justo porta ac. Duis ultricies lobortis nibh sed facilisis. Etiam eu leo sapien. Integer gravida at urna ac bibendum. Nullam eu orci at felis fermentum lobortis...</p>
                                    <p class="link"><i class="fas fa-briefcase"></i> <a class="more-link" href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/case-study-1.html">Read full case study</a></p>
                                    <p class="link"><i class="fas fa-external-link-alt"></i> <a class="site-link" href="http://wrapbootstrap.com/preview/WB07364T3" target="_blank">Website link</a></p>
                                </div><!--//desc-->
                            </div><!--//conten-inner-->
                        </div><!--//content-->
                    </div><!--//row-->
                </div></div><div class="owl-item" style="width: 1409px;"><div class="item item-1">
                    <div class="row">
                        <figure class="figure-container col-lg-6 col-12">
                            <a href="http://wrapbootstrap.com/preview/WB0N38R04" target="_blank"></a>
                        </figure>
                        <div class="content col-lg-6 col-12">
                            <div class="content-inner">
                                <h3 class="project-title">Velocity web application</h3>
                                <ul class="meta list-unstyled">
                                    <li><strong>Client:</strong> 3rd Wave Media</li>
                                    <li><strong>What we did:</strong> SaaS development, UX design</li>
                                </ul><!--//meta-->
                                <div class="desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales dolor ut ligula faucibus, nec mattis nibh eleifend. Duis et enim at lacus pharetra mollis molestie nec magna. Maecenas tristique laoreet tristique...</p>
                                </div><!--//desc-->
                                <p class="link"><i class="fas fa-briefcase"></i> <a class="more-link" href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/case-study-1.html">Read full case study</a></p>
                                <p class="link"><i class="fas fa-external-link-alt"></i> <a class="site-link" href="http://wrapbootstrap.com/preview/WB0N38R04" target="_blank">Website link</a></p>
                            </div><!--//content-inner-->
                        </div><!--//content-->
                    </div><!--//row-->
                </div></div><div class="owl-item active" style="width: 1409px;"><div class="item item-2">
                    <div class="row">
                        <figure class="figure-container col-lg-6 col-12">
                            <a class="img-link" href="http://wrapbootstrap.com/preview/WB09R23P8" target="_blank"></a>
                        </figure>
                        <div class="content col-lg-6 col-12">
                            <div class="content-inner">
                                <h3 class="project-title">Delta mobile app </h3>
                                <ul class="meta list-unstyled">
                                    <li><strong>Client:</strong> App Startup</li>
                                    <li><strong>What we did:</strong> App development</li>
                                </ul><!--//meta-->
                                <div class="desc">
                                    <p>Mauris in vestibulum ex. Donec vel malesuada tortor. Etiam consequat semper pulvinar. Integer sit amet felis nisl. Proin leo metus, volutpat vel fringilla vel, faucibus et mi. Duis finibus erat erat, quis mollis...</p>
                                </div><!--//desc-->
                                <p class="link"><i class="fas fa-briefcase"></i> <a class="more-link" href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/case-study-2.html">Read full case study</a></p>
                                <p class="link"><i class="fas fa-external-link-alt"></i> <a class="site-link" href="http://wrapbootstrap.com/preview/WB09R23P8" target="_blank">Website link</a></p>
                            </div><!--//content-inner-->
                        </div><!--//content-->
                    </div><!--//row-->
                </div></div><div class="owl-item" style="width: 1409px;"><div class="item item-3">
                    <div class="row">
                        <figure class="figure-container col-lg-6 col-12">
                            <a class="img-link" href="http://wrapbootstrap.com/preview/WB07364T3" target="_blank"></a>
                        </figure>
                        <div class="content col-lg-6 col-12">
                            <div class="content-inner">
                                <h3 class="project-title">Tempo </h3>
                                <ul class="meta list-unstyled">
                                    <li><strong>Client:</strong> Startup Week</li>
                                    <li><strong>What we did:</strong> Site design &amp; development</li>
                                </ul><!--//meta-->
                                <div class="desc">
                                    <p>Sed ornare suscipit risus, sed elementum justo porta ac. Duis ultricies lobortis nibh sed facilisis. Etiam eu leo sapien. Integer gravida at urna ac bibendum. Nullam eu orci at felis fermentum lobortis...</p>
                                    <p class="link"><i class="fas fa-briefcase"></i> <a class="more-link" href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/case-study-1.html">Read full case study</a></p>
                                    <p class="link"><i class="fas fa-external-link-alt"></i> <a class="site-link" href="http://wrapbootstrap.com/preview/WB07364T3" target="_blank">Website link</a></p>
                                </div><!--//desc-->
                            </div><!--//conten-inner-->
                        </div><!--//content-->
                    </div><!--//row-->
                </div></div><div class="owl-item cloned" style="width: 1409px;"><div class="item item-1">
                    <div class="row">
                        <figure class="figure-container col-lg-6 col-12">
                            <a href="http://wrapbootstrap.com/preview/WB0N38R04" target="_blank"></a>
                        </figure>
                        <div class="content col-lg-6 col-12">
                            <div class="content-inner">
                                <h3 class="project-title">Velocity web application</h3>
                                <ul class="meta list-unstyled">
                                    <li><strong>Client:</strong> 3rd Wave Media</li>
                                    <li><strong>What we did:</strong> SaaS development, UX design</li>
                                </ul><!--//meta-->
                                <div class="desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales dolor ut ligula faucibus, nec mattis nibh eleifend. Duis et enim at lacus pharetra mollis molestie nec magna. Maecenas tristique laoreet tristique...</p>
                                </div><!--//desc-->
                                <p class="link"><i class="fas fa-briefcase"></i> <a class="more-link" href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/case-study-1.html">Read full case study</a></p>
                                <p class="link"><i class="fas fa-external-link-alt"></i> <a class="site-link" href="http://wrapbootstrap.com/preview/WB0N38R04" target="_blank">Website link</a></p>
                            </div><!--//content-inner-->
                        </div><!--//content-->
                    </div><!--//row-->
                </div></div><div class="owl-item cloned" style="width: 1409px;"><div class="item item-2">
                    <div class="row">
                        <figure class="figure-container col-lg-6 col-12">
                            <a class="img-link" href="http://wrapbootstrap.com/preview/WB09R23P8" target="_blank"></a>
                        </figure>
                        <div class="content col-lg-6 col-12">
                            <div class="content-inner">
                                <h3 class="project-title">Delta mobile app </h3>
                                <ul class="meta list-unstyled">
                                    <li><strong>Client:</strong> App Startup</li>
                                    <li><strong>What we did:</strong> App development</li>
                                </ul><!--//meta-->
                                <div class="desc">
                                    <p>Mauris in vestibulum ex. Donec vel malesuada tortor. Etiam consequat semper pulvinar. Integer sit amet felis nisl. Proin leo metus, volutpat vel fringilla vel, faucibus et mi. Duis finibus erat erat, quis mollis...</p>
                                </div><!--//desc-->
                                <p class="link"><i class="fas fa-briefcase"></i> <a class="more-link" href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/case-study-2.html">Read full case study</a></p>
                                <p class="link"><i class="fas fa-external-link-alt"></i> <a class="site-link" href="http://wrapbootstrap.com/preview/WB09R23P8" target="_blank">Website link</a></p>
                            </div><!--//content-inner-->
                        </div><!--//content-->
                    </div><!--//row-->
                </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div><!--//owl-carousel-->
            <a class="btn btn-cta btn-cta-secondary" href="https://themes.3rdwavemedia.com/devstudio/bs4/4.1/work.html">View all case studies</a>
        </div><!--container-fluid-->
    </section>
    <!--//latest-work-->
